/* resources/css/upload.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #007bff 50%, #ffffff 50%);
    color: #555;
    margin: 0;
}


.upload-container {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    width: 600px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.1);
}

.upload-container h2 {
    font-size: 24px;
    color: #333;
}

.upload-container p {
    font-size: 14px;
    color: #666;
}

.file-icons img {
    width: 30px;
    margin: 10px;
    opacity: 0.8;
}

#drop-area {
    border: 2px dashed #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

#drop-area p {
    font-size: 16px;
    color: #333;
}

.browse-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

input[type="file"] {
    display: none;
}

/* CSS for top classification result box */
.top-result-box {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    border: 1px solid #c3e6cb; /* Green border */
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/* CSS for the recommendation box */
.recommendation-box {
    background-color: #cce5ff; /* Light blue background */
    color: #004085; /* Dark blue text */
    border: 1px solid #b8daff; /* Blue border */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

/* Flexbox for image and accords */
.detail-box {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Space between image and accords */
    margin-top: 20px;
}

/* Style for the recommendation image */
.rec-image-box img {
    max-width: 300px; /* Set max width for the image */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Styling for main accords section */
.main-accords {
    flex: 1;
    margin-top: 0; /* Align with image */
    text-align: left;
}

/* Title for main accords */
.main-accords h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

/* Accord bars */
.accord-bar {
    color: white;
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
}

.top-result-box.low-accuracy {
    background-color: #f8d7da; /* Light red background for low accuracy */
    color: #721c24; /* Dark red text */
    border: 1px solid #f5c6cb; /* Red border */
}



/* Specific colors and dynamic widths will apply inline */



